header{
    margin: 30px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family:  Helvetica ;
    width: 90%;
    color: blue;
    
}

.IT{
    background-color: lightblue;
    height: 90%;

}
.banner {
    background-color: #DDDDDD;
    
}
.list{
    list-style-type: none;
    margin: 0%;
    padding: 20px;
    position: absolute;
    top: 10px;
    right: 450px; 
    display: flex; 
    gap: 70px;
    font-size: 30px;
    font-weight: bold;
    
}
h3{
    color: blue;
}
.form-row label {
    width: 120px;
    text-align: left;
}
.form-row {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    color: blue;
}
.form-row input,
.form-row textarea {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form:hover{
    border: 1px solid navy;
}
footer {
    text-align: right;
    background-color: LightBlue;
    padding: 10px;
    box-sizing: border-box;
}
button {
    background-color: LightBlue;
    color: Navy;
    border: none;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
}
.text{
    color: blue;
}